html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    width: 100%;
    margin-bottom: 60px;
}

.mapGrandParent {
    max-width: 95%;
    height: 40vw;
    float: left;
}

.mapParent {
    height: 100%;
}

.mapRow {
    height: 100%;
}

.map {
    height:100%;
}

.weather {
    height:100%;
    border: solid black 1px;
    overflow: scroll;
}

li.periodItem {
    list-style: none;
}

span.periodTitle:hover {
    color: blue;
}
